<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		<%= f.hidden_field :cemetery_id, :value => session[:cemetery_id] %> 
		
   	<div class="control-group">
      <%= f.label :category_id, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.select :category_id, options_for_select(get_category_data, (@o_single.category_id unless @o_single.category.nil?)) %>
       	<% if @o_single.errors[:category_id].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:category_id].first %></span>
      	<% end %>         
      </div>
    </div>  		
		
    <div class="control-group">
      <%= f.label :product_name, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
       	<% if @o_single.errors[:name].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:name].first %></span>
      	<% end %> 
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_field' %>
      </div>
    </div>    
    
    <div class="control-group">
      <%= f.label :cost_price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cost_price, :class => 'text_field' %>
      </div>
    </div>      
    
    <div class="control-group">
      <%= f.label :special_cost_price, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :special_cost_price, :class => 'text_field' %>
      </div>
    </div>      
 
    <div class="control-group">
      <%= f.label :is_active, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_active, :class => 'check_box' %>
      </div>
    </div> 
 
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', catalogs_url, :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>