<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
       	<% if @o_single.errors[:name].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:name].first %></span>
      	<% end %> 
      </div>
    </div>

		<% unless @o_single.is_folder %>    
			<% unless session[:type] %>
		   	<div class="control-group">
		      <%= f.label :document_type, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.select :document_type, options_for_select(get_document_types, (@o_single.document_type unless @o_single.document_type.blank?)) %>
		      </div>
		    </div>
		  <% end %>       
	   <% end %> 
    
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_field' %>
      </div>
    </div>      
 		
 		<% submit_btn = @o_single.new_record? ? t("general.create_document") : t("general.update_document") %>
    <div class="form-actions">
      <%= f.submit submit_btn, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', folders_url, :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>