<% if @folder_tree %>
	<%= image_tag("design_folder.png", :width => "22", :height => "17") %>&nbsp;&nbsp;<%= @folder_tree.join(" -> ") %>
<% end %>
<table class="table table-striped">
 <thead> 
  <tr>
    <th width="20%"><%= sortable "name", t("general.title") %><%= link_to image_tag("add_folder.png", :width => "22"), "#", :class => 'titleIconImg', :id => "folder_new", :title => t("general.create_new_folder") %></th>
    <th width="20%"><%= t("general.document_name") %></th>
    <th width="20%"><%= sortable "document_type", t("general.document_type") %></th>
    <th width="20%"><%= sortable "user_id", t("general.created_by") %></th>
    <th width="20%"><%= t("general.actions") %></th>
  </tr>
  <% if session[:parent_folder_id] %>
  	<% if @o_folder.parent_folder.nil? %>
  		<tr><td><%= link_to "..", folders_path %></td></tr>
  	<% else %>
  		<tr><td><%= link_to "..", sub_folders_path(@o_folder.parent_folder.id) %></td></tr>
  	<% end %>	
  <% end %>  
 </thead> 
  
  <tbody>
    <% if @o_all.size > 0 %>
	    <% @o_all.each do |o_row| %>
	      <tr>
	      	<% if o_row.is_folder %>
		        <td>
		        		<%= link_to image_tag("design_folder.png", :width => "22", :height => "17"), sub_folders_path(o_row.id) %>&nbsp;&nbsp;<%= o_row.name %>
		        </td>
		        <td>
		        	<%= "-" %>
		        </td>			
	       	<% else %>
	       		<td>
	        		<%= o_row.name %>
	        	</td>
	        	<td>
	        		<div data-no-turbolink><%= link_to o_row.file_name, download_path(o_row.file_name.gsub(".", ",")) %></div>
	        	</td>	
	        <% end %>	
	        
	        <td><%= o_row.document_type %></td>
	        <td><%= o_row.user.name unless o_row.user.nil? %></td>
	        
	        <td>
			      <%= link_to t('.edit', :default => t("helpers.links.edit")),
			                  edit_folder_path(o_row), :class => 'btn btn-mini' %>	        	
			      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                  folder_path(o_row),
			                  :method => :delete,
			                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			                  :class => 'btn btn-mini btn-danger' %>
			      <% unless o_row.is_folder %>            
				      <%= link_to t("general.collaborators"),
				                  document_shares_path(:id => o_row.id), :class => 'btn btn-mini' %>			                  
				    <% end %>              
			                  
	        </td>
	      </tr>
	    <% end %>
    <% else %>
      <tr><th colspan="6"><%= t("general.record_not_found") %></th></tr>
    <% end %>      
  </tbody>
</table>
<div class="fRight">
	<%= will_paginate @o_all %>
</div>	

<div id="myModal" class="reveal-modal">
	<%= render 'create_folder' %>
</div>

<script>
	$(function() {
		$("#folder_new").click(function () {
			$('#myModal').reveal();
		});			
		
		$("#save_new").click(function () {
			if ($("#folder_name").val() == "") {
				alert("Please enter name");
				$('#myModal').reveal();
			}else {
				$('.save_form_new').submit();
			}
		});
	});

</script>