<div class="rightBlock width50">
	<div class="profielView">
	<% if @folder_tree %>
		<%= image_tag("design_folder.png", :width => "22", :height => "17") %>&nbsp;&nbsp;<%= @folder_tree.join(" -> ") %>
	<% end %>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="45%" class="darkBorder"><span>Name<%= link_to image_tag("add_folder.png", :width => "22"), "#", :class => 'titleIconImg', :id => "folder_new" %></span></td>
      <td width="20%" class="darkBorder"><span><%= t("general.type") %></span></td>
      <td width="20%" class="darkBorder"><span><%= t("general.date_modified")%></span></td>
      <!--<td width="15%" class="darkBorder"><span><%#= t("general.actions")%></span></td>-->
    </tr>
    <% if session[:parent_folder_id] %>
    	<% if @o_folder.parent_folder.nil? %>
    		<tr><td><%= link_to "..", folders_path %></td></tr>
    	<% else %>
    		<tr><td><%= link_to "..", sub_folders_path(@o_folder.parent_folder.id) %></td></tr>
    	<% end %>	
    <% end %>
    
    <% @o_all.each do |o_row| %>
      <tr>
        <td>
        	<% if o_row.is_folder %>
        		<%= link_to image_tag("design_folder.png", :width => "22", :height => "17"), sub_folders_path(o_row.id) %>&nbsp;&nbsp;<%= o_row.name %>
        	<% else %>
        		<div data-no-turbolink><%= link_to o_row.name, download_path(o_row.name.gsub(".", ",")) %></div>
        	<% end %>	
        </td>
        <td><%= o_row.file_content_type %></td>
        <td><%= o_row.updated_at.to_s(:pretty) %></td>
        <td>
		      <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
		                  #folder_path(o_row),
		                  #:method => :delete,
		                  #:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
		                  #:class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
  </div>
</div>	
	
<div id="myModal" class="reveal-modal">
	<%= render 'form' %>
</div>
<div id="shareEmail" class="reveal-modal">
	<%= render 'shares/form' %>
</div>
<script>
	$(function() {
		$("#folder_new").click(function () {
			$('#myModal').reveal();
		});			
		
		$("#share_email").click(function () {
			$('#shareEmail').reveal();  
		});

		$("#facebook_connect").click(function() {
            window.open('<%= facebook_connect_path %>', '', 'location=0,status=0,width=1000,height=580')
        });

        $("#twitter_connect").click(function() {
            window.open('<%= twitter_connect_path %>', '', 'location=0,status=0,width=690,height=675')
        });

		$("#save_on_cloud").click(function () {
			if ($("#folder_file_path").val() == "") {
				alert("Please choose file");
				return;
			}else {
				$('#spinner').show();
				$('.attachmentsUpload').submit();
			}
		});
		
		$("#save_new").click(function () {
			if ($("#folder_name").val() == "") {
				alert("Please enter name");
				$('#myModal').reveal();
			}else {
				$('.save_form_new').submit();
			}
		});
	});

	function sharedMessage(bShared, message)
    {
        alert(message)
    }
</script>