<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
       	<% if @o_single.errors[:name].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:name].first %></span>
      	<% end %> 
      </div>
    </div>
    
    <% if session[:type] %>
    	<%= f.hidden_field :document_type, :value => session[:type] %>
    	<%= f.hidden_field :document_type_id, :value => session[:type_id] %>
	  <% else %>      
	   	<div class="control-group">
	      <%= f.label :document_type, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.select :document_type, options_for_select(get_document_types, (@o_single.document_type unless @o_single.document_type.blank?)) %>
	      </div>
	    </div>	  
	  <% end %>

	    <div class="control-group">
	      <%= f.label :document, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.file_field :file_path, :class => 'text_field' %>
	      </div>
	    </div>
	    
			<%= f.hidden_field :cemetery_id, :value => session[:cemetery_id] %> 
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<%= f.hidden_field :folder_id, :value => (session[:parent_folder_id] ? session[:parent_folder_id] : nil) %>
			<%= f.hidden_field :is_folder, :value => false %>   
    
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'text_field' %>
      </div>
    </div>      
 		
 		<% submit_btn = @o_single.new_record? ? t("general.create_document") : t("general.update_document") %>
    <div class="form-actions">
      <%= f.submit submit_btn, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', folders_url, :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>