<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		<%= f.hidden_field :cemetery_id, :value => session[:cemetery_id] %>
		
   	<div class="control-group">
      <%= f.label :area_id, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag "plot[area_id]", options_for_select(get_area_data, (@o_single.area.id unless @o_single.area.nil?)),
        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                                 :action => "get_section_row_from_area"
                                 ) }, :class => 'selectField' %>
      </div>
    </div>
    
    <div id="div_update_section_row">
	   	<div class="control-group">
	      <%= f.label :section_id, :class => 'control-label' %>
	      <div class="controls">
	        <%= select_tag "plot[section_id]", options_for_select(get_section_data(@o_single), (@o_single.section.id unless @o_single.section.nil?)),
	        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
	                                 :action => "get_row_from_section",
                                 	 :class => 'selectField'
	                                 ) } %>
	      </div>                           
     	</div>	      
	  
			<div id="div_update_row">
		   	<div class="control-group">
		      <%= f.label :row_id, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.select :row_id, options_for_select(get_row_data(@o_single), (@o_single.row.id unless @o_single.row.nil?))  %>
		      </div>
		    </div>  
		  </div>    		
		</div>
		 
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
       	<% if @o_single.errors[:name].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:name].first %></span>
      	<% end %> 
      </div>
    </div>
 
  	<div class="control-group"><%= f.label :user, :class => 'control-label' %><div class="controls"><%= f.text_field :user, :class => 'text_field' %></div></div>
		<div class="control-group"><%= f.label :map, :class => 'control-label' %><div class="controls"><%= f.file_field :map, :class => 'text_field' %></div></div>
 
    <div class="control-group">
      <%= f.label :is_active, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_active, :class => 'check_box' %>
      </div>
    </div> 
 
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', plots_url, :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>

<script>
	  $('.selectField').change (function() {
	    $("#spinner").show();
	  });  
</script>