	 <table class="">
    <tr>
      <td>	 	
		    <div class="control-group">
		      <%= f.label :interment_date, :class => 'control-label' %>
		      <div class="controls">
			 			<div id="interment_date" class="input-append">
			 				<%= f.text_field :interment_date, :class => 'text_field' %>
					    <span class="add-on">
					      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
					      </i>
					    </span> 				
			 			</div>	
		      </div>
		    </div>
      </td> 
    </tr>      
    <tr>
      <td>
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.country_of_death") %></lable>
		      <div class="controls">
		        <%= f.select :deceased_country_id_death, options_for_select(get_model_data("Country"), (@o_single.deceased_country_id_death unless @o_single.deceased_country_id_death.nil?))  %>
		      </div>
		    </div>      
      </td>
      <td>		
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.country_of_birth") %></lable>
		      <div class="controls">
		        <%= f.select :deceased_country_id_birth, options_for_select(get_model_data("Country"), (@o_single.deceased_country_id_birth unless @o_single.deceased_country_id_birth.nil?))  %>
		      </div>
		    </div>  
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.country") %></lable>
		      <div class="controls">
		        <%= f.select :deceased_country_id, options_for_select(get_model_data("Country"), (@o_single.deceased_country_id unless @o_single.deceased_country_id.nil?))  %>
		      </div>
		    </div>      
      </td>
      <td>		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.place_of_death") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_place_of_death, :class => 'text_field' %>
		      </div>
		    </div>
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.date_of_death") %></lable>
		      <div class="controls">
			 			<div id="deceased_date_death" class="input-append">
			 				<%= f.text_field :deceased_date_death, :class => 'text_field' %>
					    <span class="add-on">
					      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
					      </i>
					    </span> 				
			 			</div>	        
		      </div>
		    </div>
      </td>
      <td>		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.place_of_birth") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_place_birth, :class => 'text_field' %>
		      </div>
		    </div>
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.date_of_birth") %></lable>
		      <div class="controls">
			 			<div id="deceased_date_birth" class="input-append">
			 				<%= f.text_field :deceased_date_birth, :class => 'text_field' %>
					    <span class="add-on">
					      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
					      </i>
					    </span> 				
			 			</div>	        
		      </div>
		    </div>
      </td>
      <td>		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.age") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_age, :class => 'text_field' %>
		        <%= f.select :deceased_finageuom, options_for_select(get_finageuom, @o_single.deceased_finageuom)  %>
		      </div>
		    </div> 
      </td> 
    </tr>  
    <tr>
      <td>    		
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.address") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_address, :class => 'text_field' %>
		      </div>
		    </div>
      </td>
      <td>		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.suburb") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_suburb, :class => 'text_field' %>
		      </div>
		    </div>
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.state") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_state, :class => 'text_field' %>
		      </div>
		    </div>
      </td>
      <td>		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.postal_code") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_postal_code, :class => 'text_field' %>
		      </div>
		    </div> 
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.marital_status") %></lable>
		      <div class="controls">
		        <%= f.select :deceased_marital_status, options_for_select(get_marital_status, (@o_single.deceased_marital_status unless @o_single.deceased_marital_status.nil?))  %>
		      </div>
		    </div>  
      </td>
      <td>		        
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.partner_name") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_partner_name, :class => 'text_field' %>
		      </div>
		    </div>
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.partner_surname") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_partner_surname, :class => 'text_field' %>
		      </div>
		    </div>
      </td>
      <td>		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.father_name") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_father_name, :class => 'text_field' %>
		      </div>
		    </div>
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.father_surname") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_father_surname, :class => 'text_field' %>
		      </div>
		    </div>
      </td>
      <td>		                        
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.mother_name") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_mother_name, :class => 'text_field' %>
		      </div>
		    </div>
      </td> 
    </tr>  
    <tr>
      <td>    		    
		    <div class="control-group">
		      <lable class='control-label'><%= t("general.mother_maiden_surname") %></lable>
		      <div class="controls">
		        <%= f.text_field :deceased_mother_maiden_surname, :class => 'text_field' %>
		      </div>
		    </div>
      </td> 
    </tr>  		            
    </table>
