    <div class="control-group">
      <%= f.label :death_certificate, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :death_certificate, :class => 'check_box' %>
      </div>
    </div>	
    
    <div class="control-group">
      <%= f.label :disease_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :disease_id, options_for_select(get_model_data("Disease"), (@o_single.disease.id unless @o_single.disease.nil?))  %>
      </div>
    </div>     
    
    <div class="control-group">
      <%= f.label :own_clergy, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :own_clergy, :class => 'check_box' %>
      </div>
    </div>	
    
    <div class="control-group">
      <%= f.label :clergy_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :clergy_name, :class => 'text_field' %>
      </div>
    </div>	
    
    <div class="control-group">
      <%= f.label :chapel_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :chapel_id, options_for_select(get_model_data("Chapel", true), (@o_single.chapel.id unless @o_single.chapel.nil?))  %>
      </div>
    </div>  

    <div class="control-group">
      <%= f.label :chapel_time_from, :class => 'control-label' %>
      <div class="controls">
	 			<div id="chapel_time_from" class="input-append">
	 				<%= f.text_field :chapel_time_from, :class => 'text_field' %>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span> 				
	 			</div>	        
      </div>
    </div>	
    <div class="control-group">
      <%= f.label :chapel_time_to, :class => 'control-label' %>
      <div class="controls">
	 			<div id="chapel_time_to" class="input-append">
	 				<%= f.text_field :chapel_time_to, :class => 'text_field' %>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span> 				
	 			</div>	        
      </div>
    </div>	
    
    <div class="control-group">
      <%= f.label :room_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :room_id, options_for_select(get_model_data("Room", true), (@o_single.room.id unless @o_single.room.nil?))  %>
      </div>
    </div>        
    
    <div class="control-group">
      <%= f.label :room_time_from, :class => 'control-label' %>
      <div class="controls">
	 			<div id="room_time_from" class="input-append">
	 				<%= f.text_field :room_time_from, :class => 'text_field' %>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span> 				
	 			</div>	        
      </div>
    </div>	
    <div class="control-group">
      <%= f.label :room_time_to, :class => 'control-label' %>
      <div class="controls">
	 			<div id="room_time_to" class="input-append">
	 				<%= f.text_field :room_time_to, :class => 'text_field' %>
			    <span class="add-on">
			      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
			      </i>
			    </span> 				
	 			</div>	        
      </div>
    </div>	  
    
    <div class="control-group">
      <%= f.label :burning_drum, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :burning_drum, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :fireworks, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :fireworks, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :lowering_device, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :lowering_device, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :balloons, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :balloons, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :chapel_multimedia, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :chapel_multimedia, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :special_instruction, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :special_instruction, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :ceremonial_sand, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :ceremonial_sand, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :receipt_number, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :receipt_number, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :canopy, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :canopy, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :cost, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :cost, :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :notes, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :notes, :class => 'text_field' %>
      </div>
    </div>              