<div class="control-group">
  <label class="control-label"><%= "Row" %></label>
  <div class="controls">
    <%= select_tag "grafe[row_id]", options_for_select([["Select", ""]] + @rows.collect {|r| [r.name, r.id]}),
  							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                           :action => "get_plot_from_row") }, :class => 'selectFieldAjax' %>
  </div>
</div>

<div id="div_update_plot">
	
 	<div class="control-group">
    <label class="control-label"><%= "Plot" %></label>
    <div class="controls">
      <%= select_tag "grafe[plot_id]", options_for_select([["Select", ""]] + @plots.collect {|r| [r.name, r.id]})  %>
    </div>
  </div>
 
</div>  
<div id="spinner" style="margin: 0px; left: 0px; display: none;" class="loaderimgText">
  <%= image_tag "loader.gif" %><br><div class="backTransparant"></div>
</div>  
<script type="text/javascript">
	$(document).ready(function() {
	  $('.selectFieldAjax').change (function() {
	    $("#spinner").show();
	  });	 
	});	  
</script>	 