<%
	section_param = (params[:booking] ? "booking[section_id]" : (params[:grantee_grafe] ? "grantee_grafe[section_id]" : (params[:maintenance] ? "maintenance[section_id]" : (params[:permit] ? "permit[section_id]" : "work_order[section_id]"))))
	row_param = (params[:booking] ? "booking[row_id]" : (params[:grantee_grafe] ? "grantee_grafe[row_id]" : (params[:maintenance] ? "maintenance[row_id]" : (params[:permit] ? "permit[row_id]" : "work_order[row_id]"))))
	plot_param = (params[:booking] ? "booking[plot_id]" : (params[:grantee_grafe] ? "grantee_grafe[plot_id]" : (params[:maintenance] ? "maintenance[plot_id]" : (params[:permit] ? "permit[plot_id]" : "work_order[plot_id]"))))
	grave_param = (params[:booking] ? "booking[grafe_id]" : (params[:grantee_grafe] ? "grantee_grafe[grafe_id]" : (params[:maintenance] ? "maintenance[grafe_id]" : (params[:permit] ? "permit[grafe_id]" : "work_order[grafe_id]"))))
%>
 	<div class="control-group">
    <label class="control-label"><%= "Section" %></label>
    <div class="controls">
      <%= select_tag section_param, options_for_select([["Select", ""]] + @sections.collect {|r| [r.code, r.id]}),
      							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                               :action => "get_row_plot_grave_from_section") }, :class => 'selectFieldAjax' %>
    </div>                           
 	</div>	      

	<div id="div_update_row_plot_grave">
		
   	<div class="control-group">
      <label class="control-label"><%= "Row" %></label>
      <div class="controls">
        <%= select_tag row_param, options_for_select([["Select", ""]] + @rows.collect {|r| [r.name, r.id]}), 
      							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                               :action => "get_plot_grave_from_row") }, :class => 'selectFieldAjax' %>
      </div>
    </div>
  	
  	<div id="div_update_plot_grave">
  		
	   	<div class="control-group">
	      <label class="control-label"><%= "Plot" %></label>
	      <div class="controls">
	        <%= select_tag plot_param, options_for_select([["Select", ""]] + @plots.collect {|r| [r.name, r.id]}), 
        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                                 :action => "get_grave_from_plot") }, :class => 'selectFieldAjax' %>
	      </div>
	    </div>
	  	
	  	<div id="div_update_grave">
		   	<div class="control-group">
		      <label class="control-label"><%= "Grave" %></label>
		      <div class="controls">
		        <%= select_tag grave_param, options_for_select([["Select", ""]] + @graves.collect {|r| [r.grave_number, r.id]}), 
        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                                 :action => (params[:permit] ? "get_grantee_booking_from_grave" : "get_grantee_from_grave")) }, :class => 'selectFieldAjax' %>
		      </div>
		    </div>
		  </div>  	    
    
  	</div>
  </div>	
<div id="spinner" style="margin: 0px; left: 0px; display: none;" class="loaderimgText">
  <%= image_tag "loader.gif" %><br><div class="backTransparant"></div>
</div>  
<script type="text/javascript">
	$(document).ready(function() {
	  $('.selectFieldAjax').change (function() {
	    $("#spinner").show();
	  });	 
	});	  
</script>	  