 	<div class="control-group">
    <label class="control-label"><%= "Section" %></label>
    <div class="controls">
      <%= select_tag (params[:booking] ? "booking[section_id]" : "grantee_grafe[section_id]"), options_for_select([["Select", ""]] + @sections.collect {|r| [r.code, r.id]}),
      							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                               :action => "get_row_plot_grave_from_section"
                               ) } %>
    </div>                           
 	</div>	      

	<div id="div_update_row_plot_grave">
		
   	<div class="control-group">
      <label class="control-label"><%= "Row" %></label>
      <div class="controls">
        <%= select_tag (params[:booking] ? "booking[row_id]" : "grantee_grafe[row_id]"), options_for_select([["Select", ""]] + @rows.collect {|r| [r.name, r.id]}), 
      							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                               :action => "get_plot_grave_from_row"
                               ) } %>
      </div>
    </div>
  	
  	<div id="div_update_plot_grave">
  		
	   	<div class="control-group">
	      <label class="control-label"><%= "Plot" %></label>
	      <div class="controls">
	        <%= select_tag (params[:booking] ? "booking[plot_id]" : "grantee_grafe[plot_id]"), options_for_select([["Select", ""]] + @plots.collect {|r| [r.name, r.id]}), 
        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                                 :action => "get_grave_from_plot"
                                 ) } %>
	      </div>
	    </div>
	  	
	  	<div id="div_update_grave">
		   	<div class="control-group">
		      <label class="control-label"><%= "Grave" %></label>
		      <div class="controls">
		        <%= select_tag (params[:booking] ? "booking[grafe_id]" : "grantee_grafe[grafe_id]"), options_for_select([["Select", ""]] + @graves.collect {|r| [r.grave_number, r.id]}) %>
		      </div>
		    </div>
		  </div>  	    
    
  	</div>