<div class="control-group">
  <label class="control-label"><%= "Section" %></label>
  <div class="controls">
    <%= select_tag "plot[section_id]", options_for_select([["Select", ""]] + @sections.collect {|r| [r.code, r.id]}),
    							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                             :action => "get_row_from_section") }, :class => 'selectFieldAjax' %>
	      
  </div>
</div>
<div id="div_update_row">
	<div class="control-group">
	  <label class="control-label"><%= "Row" %></label>
	  <div class="controls">
	    <%= select_tag "plot[row_id]", options_for_select([["Select", ""]] + @rows.collect {|r| [r.name, r.id]})  %>
	  </div>
	</div>
</div>	
<div id="spinner" style="margin: 0px; left: 0px; display: none;" class="loaderimgText">
  <%= image_tag "loader.gif" %><br><div class="backTransparant"></div>
</div>  
<script type="text/javascript">
	$(document).ready(function() {
	  $('.selectFieldAjax').change (function() {
	    $("#spinner").show();
	  });	 
	});	  
</script>	 