<div class="page-header">
  <h4><%= t("today's_activity") %></h4>
</div>
<div class="fRight" style="margin-top: -45px;">
	<%= form_for @o_booking, :url => dashboard_path, :html => { :class => 'form-horizontal' } do |f| %>
	
		  <div class="control-group">
	      <%= f.label :service_date, :class => 'control-label' %>
	      <div class="controls">
		 			<div id="service_date" class="input-append">
		 				<%= f.text_field :service_date, :value => @today_date.to_datetime.to_s(:default_date), :class => 'text_field' %>
				    <span class="add-on">
				      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
				      </i>
				    </span>
		 			</div>
		 			<%= f.submit t("general.show"), :class => 'btn-primary' %> 		
	      </div>
	    </div>        
	<% end %>
</div>	
<div class="clearb"></div>

    
			<% @service_types.each do |o_row| %>
				<h4><%= o_row.name %></h4>
				<div class="tab-pane1" id="<%= o_row.name %>">
					<%= render "fronts/today/booking", :service_type => o_row, :today_date => @today_date %>
				</div>
			<% end %>
			<h4><%= t("general.chapel") %></h4>			
			<div class="tab-pane1" id="chapel">
				<%= render "fronts/today/chapel", :chapels => @chapels %>
			</div>		
			<h4><%= t("general.room") %></h4>
			<div class="tab-pane1" id="room">
				<%= render "fronts/today/room", :rooms => @rooms %>
			</div>
    

     

<script>
    $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    
 $(function () {
$('#myTab a:first').tab('show');
})  


$(function() {
//https://github.com/lubieniebieski/bootstrap-datetimepicker-rails	
  $('#service_date').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "dd/MM/yyyy"
  });   	    	  
});

</script>  