<div class="login">
	<h1><%= t("general.reset_password") %></h1>
	<div class="clearBoth">&nbsp;</div>	
	<%= form_for @user, :url => forgot_password_path, :html => { :class => 'form-horizontal' } do |f| %>
		<% if flash[:forgot_pass_error] %>
			<p class="text-error"><%= flash[:forgot_pass_error] %></p>
			<% flash[:forgot_pass_error] = nil %>
	  <% end %>
	 	<% if flash[:forgot_pass_success] %>
	 		<p class="text-error"><%= flash[:forgot_pass_success] %></p>
	 		<% flash[:forgot_pass_success] = nil %>
		<% end %>        	      		
		<p><%= f.text_field :email, :placeholder => 'Enter Email' %></p>
		<p class="submit"><%= f.submit t("general.reset_password"), :class => '' %></p>
	<% end %>
</div>
