<link type="text/css" href="/css/main.css" rel="stylesheet">
<h3><%= "Grave Details" %></h3>

<div id="div_update_search">
	<table id="box-table">
	  <tbody>
	  	<tr>
	    	<td colspan="4" width="50%"><strong>Grave Number:</strong>&nbsp;<%= @o_single.grave_number %></td>
	    </tr>
	    <tr>
	  		<td width="50%"><strong>length:</strong>&nbsp;<%= @o_single.length %></td>
	      <td width="50%"><strong>width:</strong>&nbsp;<%= @o_single.width %></td>
	    </tr>
	    <tr>
	  		<td><strong>height:</strong>&nbsp;<%= @o_single.height %></td>
	    </tr>
	  </tbody>
	</table>
</div>
