<%= form_for setup_booking(@o_single), :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
    
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#booking"><%= t("general.booking") %></a></li>
			<li><a href="#allocation"><%= t("general.allocation") %></a></li>
			<li><a href="#deceased"><%= t("general.deceased") %></a></li>
			<li><a href="#applicant"><%= t("general.applicant") %></a></li>
			<li><a href="#checklist"><%= t("general.checklist") %></a></li>			
			<li><a href="#coffin"><%= t("general.coffin") %></a></li>
			<li><a href="#other"><%= t("general.other") %></a></li>
			<!--<li><a href="#documents"><%#= t("general.documents") %></a></li>-->
			<% unless @o_single.new_record? %>
				<li><a href="#letters"><%= t("general.letters") %></a></li>
				<li><a href="#certificates"><%= t("general.certificates") %></a></li>
			<% end %>	
			
		</ul>    
    
		<div class="tab-content">
			<div class="tab-pane active" id="booking"><%= render "bookings/details/booking", :f => f %></div>
			<div class="tab-pane" id="allocation"><%= render "bookings/details/allocation", :f => f %></div>
			<div class="tab-pane" id="deceased"><%= render "bookings/details/deceased", :f => f %></div>
			<div class="tab-pane" id="applicant"><%= render "bookings/details/applicant", :f => f %></div>
			<div class="tab-pane" id="checklist"><%= render "bookings/details/checklist", :f => f %></div>			
			<div class="tab-pane" id="coffin"><%= render "bookings/details/coffin", :f => f %></div>
			<div class="tab-pane" id="other"><%= render "bookings/details/others", :f => f %></div>
			<!--<div class="tab-pane" id="documents"><%#= render "bookings/details/documents", :f => f %></div>-->
			<% unless @o_single.new_record? %>
				<div class="tab-pane" id="letters"><%= render "bookings/details/letters", :f => f %></div>
				<div class="tab-pane" id="certificates"><%= render "bookings/details/certificates", :f => f %></div>
			<% end %>	
		</div>    
    
    
    <div class="form-actions">
    	<% if session[:bookings] %>
      	<%= f.submit nil, :class => 'btn btn-primary' %>
      <% else %>
      	<%= f.submit t("general.update_interment"), :class => 'btn btn-primary' %>
      <% end %>	
      <%= link_to 'Cancel', bookings_url, :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>
<script>
    $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    
 $(function () {
$('#myTab a:first').tab('show');
})  


$(function() {
//https://github.com/lubieniebieski/bootstrap-datetimepicker-rails	
  $('#date_notified').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "yyyy-MM-dd"
  });
  $('#service_date').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "yyyy-MM-dd"
  });  	
  $('#service_date1').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });
  $('#service_date2').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });
  $('#service_date3').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });    
  $('#interment_date').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });
  $('#deceased_date_death').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "yyyy-MM-dd"
  });	
  $('#deceased_date_birth').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "yyyy-MM-dd"
  });
  $('#chapel_time_from').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });   
  $('#chapel_time_to').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });   
  $('#room_time_from').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });   
  $('#room_time_to').datetimepicker({
    language: 'en',
    format: "yyyy-MM-dd hh:mm:ss"
  });      
  $('#service_time_from').datetimepicker({
    language: 'en',
    pickDate: false,
    format: "hh:mm:ss"
  });  
  $('#service_time_to').datetimepicker({
    language: 'en',
    pickDate: false,
    format: "hh:mm:ss"
  });       	    	  
});

</script>  