<%= form_for @o_single, :url => users_path, :method => "get", :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
 
    <div class="control-group">
      <%= f.label :username, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :username, :value => (session[:user][:username] unless session[:user].nil?), :class => 'text_field' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :value => (session[:user][:email] unless session[:user].nil?), :class => 'text_field' %>
      </div>
    </div>    
 
    <div class="controls">
      <%= f.submit t("general.search"), :class => 'btn btn-primary', :id => 'search_button_id' %>
      <span data-no-turbolink><%= link_to 'Cancel', search_path(false), :class => 'btn', :remote => true %></span>
    </div>
    
  </fieldset>
     
<% end %>

<script type="text/javascript">
$(document).ready(function() {
  $('#search_button_id').click (function() {
    $("#spinner").show();
  });  
});
</script>
