<table class="table table-striped">
 <thead> 
  <tr>
    <th width="20%"><%= sortable "permit_id", t("general.permit") %></th>
    <th width="20%"><%= sortable "charge_id", t("general.charge") %></th>    
    <th width="20%"><%= sortable "quantity", t("general.quantity") %></th>    
    <th width="20%"><%= sortable "fee", t("general.fee") %></th>
    <th width="10%"><%= t("general.actions") %></th>
  </tr>
 </thead> 
  
  <tbody>
    <% if @o_all.size > 0 %>
      <% @o_all.each do |o_row| %>
        <tr>
          <td><%= o_row.permit.permit_number unless o_row.permit_id.nil? %></td>
          <td><%= o_row.charge.work_type unless o_row.charge_id.nil? %></td>
          <td><%= o_row.quantity %></td>
          <td>$<%= o_row.fee.blank? ? 0 : o_row.fee %></td>
          <td> 
			      <%= link_to t('.edit', :default => t("helpers.links.edit")),
			                  edit_permit_charge_path(o_row), :class => 'btn btn-mini' %>
			      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                  permit_charge_path(o_row),
			                  :method => :delete,
			                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			                  :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><th colspan="8"><%= t("general.record_not_found") %></th></tr>
    <% end %>      
  </tbody>
</table>
<div class="fRight">
	<%= will_paginate @o_all %>
</div>	