<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		
<div class="control-group">
  <%= f.label :permit_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.select :permit_id, options_for_select(get_permit_data, (@o_single.permit.id unless @o_single.permit.nil?)) %>
  </div>
</div>

<div class="control-group">
  <%= f.label :charge_id, :class => 'control-label' %>
  <div class="controls">
    <%= f.select :charge_id, options_for_select(get_charge_data, (@o_single.charge.id unless @o_single.charge.nil?)) %>
  </div>
</div>
<table>		
    <tr>
      <td>
		    <div class="control-group">
		      <%= f.label :quantity, :class => 'control-label' %><span class="redStart">*</span>
		      <div class="controls">
		        <%= f.text_field :quantity, :class => 'text_field' %>
		       	<% if @o_single.errors[:quantity].any? %>
		        	<span class="text-error text-message"><%= @o_single.errors[:quantity].first %></span>
		      	<% end %>        
		      </div>
		    </div>
      </td>
      <td>	 
		    <div class="control-group">
		      <%= f.label :fee, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.text_field :fee, :class => 'text_field' %>
		      </div>
		    </div>
      </td>      
    </tr> 		    
</table>
		    <div class="form-actions">
		      <%= f.submit nil, :class => 'btn btn-primary' %>
		      <%= link_to 'Cancel', permit_charges_url, :class => 'btn' %>
		    </div>    
  </fieldset>
     
<% end %>

