<table class="table table-striped">
 <thead> 
  <tr>
    <th width="10%"><%= t("general.from") %></th>
    <th width="10%"><%= t("general.to") %></th>
    <th width="30%"><%= t("general.service_of") %></th>
    <th width="25%"><%= t("general.location") %></th>
    <th width="25%"><%= t("general.Informant") %></th>
  </tr>
 </thead> 
  
  <tbody>
    <% if @chapels.size > 0 %>
      <% @chapels.each do |o_row| %>
        <tr>
          <td><%= o_row.chapel_time_from.to_s(:default_time) if o_row.chapel_time_from %></td>
          <td><%= o_row.chapel_time_to.to_s(:default_time) if o_row.chapel_time_to %></td>
          <td><%= o_row.deceased_name %></td>
          <td><%= o_row.chapel.name unless o_row.chapel.nil? %></td>
          <td><%= o_row.informant_surname.to_s + " " + o_row.informant_first_name.to_s %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><th colspan=5"><div class="warning-msg"><span><%= t("general.record_not_found") %></span></div></th></tr>
    <% end %>      
  </tbody>
</table>