<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#letter"><%= t("general.letter") %></a></li>
	<li><a href="#certificate"><%= t("general.certificate") %></a></li>		
</ul>    

<div class="tab-content">
	<div class="tab-pane active" id="letter">
		<% if is_admin? %>
			<%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_letter_variable_path(@letter), :class => 'btn btn-mini' %>
	  <% end %>            
              			
		<%= @letter.content.html_safe %>					
	</div>
	
	<div class="tab-pane" id="certificate">
		<% if is_admin? %>
			<%= link_to t('.edit', :default => t("helpers.links.edit")),
	              edit_letter_variable_path(@certificate), :class => 'btn btn-mini' %>
	  <% end %>              			
		<%= @certificate.content.html_safe %>
	</div>
</div>  
		
<script>
    $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    })
    
 $(function () {
$('#myTab a:first').tab('show');
})  
</script>