<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
<table>    
    
    <%= f.hidden_field :grafe_id, :value => session[:grave_transfer_id] %>
    <%= f.hidden_field :grantee_id, :value => session[:grantee_id] %>
    <tr>
      <td>		 
		   	<div class="control-group">
		      <%= f.label :entity_trasfer_id, :class => 'control-label' %><span class="redStart">*</span>
		      <div class="controls">
		        <%= f.text_field :grantee_trasfer_id, :class => 'text_field' %>
		       	<% if @o_single.errors[:grantee_trasfer_id].any? %>
		        	<span class="text-error text-message"><%= @o_single.errors[:grantee_trasfer_id].first %></span>
		      	<% end %>
		      	
		       	<% if flash[:entiry_transer_error] %>
		        	<span class="text-error text-message"><%= flash[:entiry_transer_error] %></span>
		      	<% end %> 			        		      	
		      </div>
		    </div>
      </td>    	
      <td> 
      	
		    <div class="control-group">
		      <%= f.label :surrender_date, :class => 'control-label' %>
		      <div class="controls">
			 			<div id="surrender_date" class="input-append">
			 				<%= f.text_field :surrender_date, :class => 'text_field' %>
					    <span class="add-on">
					      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
					      </i>
					    </span> 				
			 			</div>	
		      </div>
		    </div>
      </td> 
    </tr>
		 
    <tr>
      <td>		 
		   	<div class="control-group">
		      <%= f.label :catalog_id, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.select :catalog_id, options_for_select(get_model_data("Catalog"), (@o_single.catalog.id unless @o_single.catalog.nil?)) %>
		      </div>
		    </div>
      </td>
      <td>		 
		   	<div class="control-group">
		      <%= f.label :payment_status_id, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.select :payment_status_id, options_for_select(get_model_data("PaymentStatus"), (@o_single.payment_status.id unless @o_single.payment_status.nil?)) %>
		      </div>
		    </div>
      </td>
    </tr> 
    <tr>
      <td> 		    
		   	<div class="control-group">
		      <%= f.label :identity_id, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.select :identity_id, options_for_select(get_model_data("Identity"), (@o_single.identity.id unless @o_single.identity.nil?)) %>
		      </div>
		    </div>
      </td>
      <td> 
		    <div class="control-group">
		      <%= f.label :identity_number, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.text_field :identity_number, :class => 'text_field' %>
		      </div>
		    </div>
      </td>
    </tr> 
    <tr>
      <td> 
		    <div class="control-group">
		      <%= f.label :receipt_number, :class => 'control-label' %>
		      <div class="controls">
		        <%= f.text_field :receipt_number, :class => 'text_field' %>
		      </div>
		    </div>
      </td>
     </tr> 
</table>    
    <div class="form-actions">
      <%= f.submit 'Assign', :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', grantee_grafe_url(@grantee), :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>

<script type="text/javascript">
$(function() {
  $('#surrender_date').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "yyyy-MM-dd"
  });
});
</script>