<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		<%= f.hidden_field :cemetery_id, :value => session[:cemetery_id] %>
		<%= f.hidden_field :user_id, :value => current_user.id %>
	
		<ul class="nav nav-tabs" id="myTab">
			<li><a href="#allocation"><%= t("general.allocation") %></a></li>
			<li><a href="#grave_notes"><%= t("general.grave_notes") %></a></li>
			<li><a href="#admin_notes"><%= t("general.admin_notes") %></a></li>
			<% unless @o_single.new_record? %>
				<li><a href="#letters"><%= t("general.letters") %></a></li>
			<% end %>	
			
		</ul>    
    
		<div class="tab-content">
			<div class="tab-pane" id="allocation"><%= render "maintenances/details/allocation", :f => f %></div>
			<div class="tab-pane" id="grave_notes"><%= render "maintenances/details/grave_notes", :f => f %></div>
			<div class="tab-pane" id="admin_notes"><%= render "maintenances/details/admin_notes", :f => f %></div>
			<% unless @o_single.new_record? %>
				<div class="tab-pane" id="letters"><%= render "maintenances/details/letters", :f => f %></div>
			<% end %>	
		</div> 	
	

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', maintenances_url, :class => 'btn' %>
    </div>    
  </fieldset>
     
<% end %>

<script>
$('#myTab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
})  
$(function () {
	$('#myTab a:first').tab('show');
})  
	$(function(){
	  $('#cancelled_date').datetimepicker({
	    language: 'en',
	    pickTime: false,
	    format: "yyyy-MM-dd"
	  });		
	});
</script>
