<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		<%= f.hidden_field :cemetery_id, :value => session[:cemetery_id] %>
		<%= f.hidden_field :user_id, :value => current_user.id %>

		<ul class="nav nav-tabs" id="myTab">
			<li><a href="#permit_details"><%= t("general.permit_details") %></a></li>
			<% unless @o_single.new_record? %>
				<li><a href="#letters"><%= t("general.letters") %></a></li>
			<% end %>	
			
		</ul>    
    
		<div class="tab-content">
			<div class="tab-pane" id="permit_details"><%= render "permits/details/permit_details", :f => f %></div>
			<% unless @o_single.new_record? %>
				<div class="tab-pane" id="letters"><%= render "permits/details/letters", :f => f %></div>
			<% end %>	
		</div> 	

		

		    <div class="form-actions">
		      <%= f.submit nil, :class => 'btn btn-primary' %>
		      <%= link_to 'Cancel', permits_url, :class => 'btn' %>
		    </div>    
  </fieldset>
     
<% end %>

<script>
$('#myTab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
})  
$(function () {
	$('#myTab a:first').tab('show');
})  
	$(function(){
	  $('#received_date').datetimepicker({
	    language: 'en',
	    pickTime: false,
	    format: "yyyy-MM-dd"
	  });		
	});
</script>
