<table class="table table-striped">
 <thead> 
  <tr>
    <th width="20%"><%= sortable "grave_number", t("general.grave_number") %></th>
    <th width="10%"><%= sortable "area_id", t("general.area") %></th>
    <th width="10%"><%= sortable "section_id", t("general.section") %></th>    
    <th width="10%"><%= sortable "row_id", t("general.row") %></th>    
    <th width="10%"><%= sortable "plot_id", t("general.plot") %></th>
    <th width="10%"><%= sortable "grave_status_id", t("general.status") %></th>
    <th width="5%"><%= sortable "is_active", t("general.is_active") %></th>
    <th width="25%"><%= t("general.actions") %></th>
  </tr>
 </thead> 
  
  <tbody>
    <% if @o_all.size > 0 %>
      <% @o_all.each do |o_row| %>
        <tr>
          <td><%= link_to o_row.grave_number, grafe_path(o_row), :class => "link" %></td>
          <td><%= o_row.area.code unless o_row.area_id.nil? %></td>
          <td><%= o_row.section.code unless o_row.section_id.nil? %></td>
          <td><%= o_row.row.name unless o_row.row_id.nil? %></td>
          <td><%= o_row.plot.name unless o_row.plot_id.nil? %></td>          
          <td><%= o_row.grave_status.name unless o_row.grave_status.nil? %></td>
          <td><%= o_row.is_active ? image_tag("Yes.gif") : image_tag("No.gif") %></td>
          <td> 
			      <%= link_to t('.edit', :default => t("helpers.links.edit")),
			                  edit_grafe_path(o_row), :class => 'btn btn-mini' %>
			      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
			                  grafe_path(o_row),
			                  :method => :delete,
			                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
			                  :class => 'btn btn-mini btn-danger' %>
						<%= link_to t("general.purchase"), 
												new_grantee_grafe_path(:grave_id => o_row.id),
												 :class => 'btn btn-primary btn-mini' %>			                  
						<%= link_to image_tag("grantee.gif"),
						            grantees_path(:grave_id => o_row.id),
						            :class => '' %>
						<%= link_to image_tag("history.gif"),
						            grave_histories_path(:grave_id => o_row.id),
						            :class => '' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><th colspan="8"><%= t("general.record_not_found") %></th></tr>
    <% end %>      
  </tbody>
</table>
<div class="fRight">
	<%= will_paginate @o_all %>
</div>	