<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
		<%= f.hidden_field :cemetery_id, :value => session[:cemetery_id] %>
		
   	<div class="control-group">
      <%= f.label :area_id, :class => 'control-label' %>
      <div class="controls">
        <%= select_tag "grafe[area_id]", options_for_select(get_model_data_code("Area", true), (@o_single.area.id unless @o_single.area.nil?)),
        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
                                 :action => "get_section_row_plot_from_area"
                                 ) } %>
      </div>
    </div>
    
    <div id="div_update_section_row_plot">
    	
	   	<div class="control-group">
	      <%= f.label :section_id, :class => 'control-label' %>
	      <div class="controls">
	        <%= select_tag "grafe[section_id]", options_for_select(get_model_data_code("Section", true), (@o_single.section.id unless @o_single.section.nil?)),
	        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
	                                 :action => "get_row_plot_from_section"
	                                 ) } %>
	      </div>                           
     	</div>	      
	  
			<div id="div_update_row_plot">
				
		   	<div class="control-group">
		      <%= f.label :row_id, :class => 'control-label' %>
		      <div class="controls">
		        <%= select_tag "grafe[row_id]", options_for_select(get_model_data("Row", true), (@o_single.row.id unless @o_single.row.nil?)), 
	        							:data => { :remote => true, :url => url_for(:controller => "fronts", 
	                                 :action => "get_plot_from_row"
	                                 ) } %>
		      </div>
		    </div>
		  	
		  	<div id="div_update_plot">
		  		
			   	<div class="control-group">
			      <%= f.label :plot_id, :class => 'control-label' %>
			      <div class="controls">
			        <%= f.select :plot_id, options_for_select(get_model_data("Plot", true), (@o_single.plot.id unless @o_single.plot.nil?))  %>
			      </div>
			    </div>
			   
			  </div>  
		    
		  </div>
		      		
		</div>
		 
    <div class="control-group">
      <%= f.label :grave_number, :class => 'control-label' %><span class="redStart">*</span>
      <div class="controls">
        <%= f.text_field :grave_number, :class => 'text_field' %>
       	<% if @o_single.errors[:grave_number].any? %>
        	<span class="text-error text-message"><%= @o_single.errors[:grave_number].first %></span>
      	<% end %> 
      </div>
    </div>
    
   	<div class="control-group">
      <%= f.label :grave_status_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :grave_status_id, options_for_select(get_model_data("GraveStatus"), (@o_single.grave_status.id unless @o_single.grave_status.nil?)) %>
      </div>
    </div>    

    <div class="control-group"><%= f.label :length, :class => 'control-label' %><div class="controls"><%= f.text_field :length, :class => 'text_field' %></div></div>
    <div class="control-group"><%= f.label :width, :class => 'control-label' %><div class="controls"><%= f.text_field :width, :class => 'text_field' %></div></div>
    <div class="control-group"><%= f.label :height, :class => 'control-label' %><div class="controls"><%= f.text_field :height, :class => 'text_field' %></div></div>
    
   	<div class="control-group">
      <%= f.label :unit_type_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :unit_type_id, options_for_select(get_model_data("UnitType"), (@o_single.unit_type.id unless @o_single.unit_type.nil?)) %>
      </div>
    </div>
    
 		<div class="control-group"><%= f.label :details, :class => 'control-label' %><div class="controls"><%= f.text_area :details, :class => 'text_field' %></div></div>
  
   	<div class="control-group">
      <%= f.label :stone_mason_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :stone_mason_id, options_for_select(get_stone_masons, (@o_single.stone_mason.id unless @o_single.stone_mason.nil?)) %>
      </div>
    </div>  
   	<div class="control-group">
      <%= f.label :monument_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :monument_id, options_for_select(get_model_data("Monument", true), (@o_single.monument.id unless @o_single.monument.nil?)) %>
      </div>
    </div>

    <div class="control-group"><%= f.label :latitude, :class => 'control-label' %><div class="controls"><%= f.text_field :latitude, :class => 'text_field' %></div></div>
    <div class="control-group"><%= f.label :longitude, :class => 'control-label' %><div class="controls"><%= f.text_field :longitude, :class => 'text_field' %></div></div>
    <div class="control-group"><%= f.label :image_1, :class => 'control-label' %><div class="controls"><%= f.file_field :image_1, :class => 'text_field' %></div></div>
		<div class="control-group"><div class="controls"><% if @o_single.image_1? %><%= image_tag @o_single.image_1_url(:logo) %><% end %></div></div>     
    <div class="control-group"><%= f.label :image_2, :class => 'control-label' %><div class="controls"><%= f.file_field :image_2, :class => 'text_field' %></div></div>
    <div class="control-group"><div class="controls"><% if @o_single.image_2? %><%= image_tag @o_single.image_2_url(:logo) %><% end %></div></div>    
 
 
    <div class="control-group">
      <%= f.label :is_active, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :is_active, :class => 'check_box' %>
      </div>
    </div> 
 
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', graves_url, :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>