<%= form_for [@paymetable, Payment.new], :remote => true do |f| %>
	<div class="control-group">
		<div id="notice_item" class="alert-error"></div>
	  <label class = 'control-label'><%= t("general.select_category") %></label>
	  <div class="controls">
	        <%= select_tag "category", options_for_select(get_category_data),
	        							:data => { :remote => true, :url => url_for(:controller => "payments", 
                                   :action => "get_catalogs_from_category",
                                   :class => 'selectField'
                                   ) } %>
                                   <p></p> 	  
                                    
	  </div>
	</div>
	
  <div id="div_update_catalog">  </div> 	
  
	<div class="control-group">
	  <label class = 'control-label'><%= t("general.quantity") %></label>
	  <div class="controls">
	        <%= select_tag "payment[quantity]", options_for_select(get_quantity_data),
	        							:data => { :remote => true, :url => url_for(:controller => "payments", 
                                   :action => "get_total_amount_from_quantity",
                                   :class => 'selectField'
                                   ) } %>	    
	  </div>
	</div>  
  
	<div id="div_update_total_amount"></div>
	
  <div class="actions" data-no-turbolink>
    <%= link_to t("general.add_item"), "#", :class => 'btn btn-primary', :id => "submit_item" %>
    <%= link_to t("general.cancel"), "#", :class => 'btn btn-primary', :id => "cancel_item" %>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
	$('#submit_item').click(function() {
		if ($("#category").val() == "") {
			$("#notice_item").html("<%= t("general.please_select_category") %>");
			$("#spinner").hide();
			return false;			
		} else if($("#payment_catalog_id").val() == "") {
			$("#notice_item").html("<%= t("general.please_select_item") %>");
			$("#spinner").hide();
			return false;	
		} else if($("#price").val() == "") {
			$("#notice_item").html("<%= t("general.please_select_price") %>");
			$("#spinner").hide();
			return false;
		} else if($("#payment_quantity").val() == "") {
			$("#notice_item").html("<%= t("general.please_select_quantity") %>");
			$("#spinner").hide();
			return false;													
		} else {
			$("#notice_item").html(" ");
			$("#new_payment").submit();
			setTimeout(function(){$("#spinner").hide();},2000)
		}
	});
});
</script>