<div class="clearBoth">&nbsp;</div>
<div class="page-header">
  <h2 style="text-align: center;"><%= t("general.payment_details") %> - <%= @header_name %></h2>
</div>

<div class="searchRight" data-no-turbolink>
	<%= link_to t("general.add_item"), "#", :id => "new_item", :class => 'btn btn-small btn-primary' %>
	<%= link_to t("general.back"), @r_url, :class => 'btn btn-small btn-primary' %>
</div>	

<table class="table table-striped">
	<tr>
		<td width="65%">
			<div id="div_update">
				<%= render "fetchAll" %>
			</div>
		</td>	
		<td width="10%">&nbsp;</td>
		<td width="25%">
			<div class="clearBoth">&nbsp;</div>
			<div class="clearBoth">&nbsp;</div>
			<div id="new_item_show" style="display: none;">
				<%= render "new_item" %>	
			</div>
		</td>	
	</tr>	
</table>
<div id="spinner" style="margin: 0px; left: 0px; display: none;" class="loaderimgText">
  <%= image_tag "loader.gif" %><br><div class="backTransparant"></div>
</div>
<script type="text/javascript">
$('#category').change(function() {
	$("#spinner").show();
});

$( "#new_item, #cancel_item" ).click(function() {
	$( "#new_item_show" ).slideToggle( "slow", function() {
		$("#spinner").hide();
	// Animation complete.
	});
});
</script>
