<%= form_for @o_single, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend></legend>
    
		<%= f.hidden_field :cemetery_id, :value => session[:cemetery_id] %>
		
		<ul class="nav nav-tabs" id="myTab">
			<li><a href="#work_order"><%= t("general.work_order") %></a></li>
			<li><a href="#approved"><%= t("general.approved") %></a></li>
			<li><a href="#customer_details"><%= t("general.customer_details") %></a></li>
			<li><a href="#completion"><%= t("general.completion/Notification") %></a></li>
			<% unless @o_single.new_record? %>
				<li><a href="#letters"><%= t("general.letters") %></a></li>
			<% end %>	
			
		</ul>    
    
		<div class="tab-content">
			<div class="tab-pane" id="work_order"><%= render "work_orders/details/work_order", :f => f %></div>
			<div class="tab-pane" id="approved"><%= render "work_orders/details/approved", :f => f %></div>
			<div class="tab-pane" id="customer_details"><%= render "work_orders/details/customer_details", :f => f %></div>
			<div class="tab-pane" id="completion"><%= render "work_orders/details/completion", :f => f %></div>
			<% unless @o_single.new_record? %>
				<div class="tab-pane" id="letters"><%= render "work_orders/details/letters", :f => f %></div>
			<% end %>	
		</div> 	    
  
 
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', work_orders_url, :class => 'btn' %>
    </div>
    
  </fieldset>
     
<% end %>
<script>
$('#myTab a').click(function (e) {
	e.preventDefault();
	$(this).tab('show');
})  
$(function () {
	$('#myTab a:first').tab('show');
})  
$(function() {
//https://github.com/lubieniebieski/bootstrap-datetimepicker-rails	
  $('#work_date').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "yyyy-MM-dd"
  });
  $('#completion_date, #requested_date, #approved_date').datetimepicker({
    language: 'en',
    pickTime: false,
    format: "yyyy-MM-dd"
  });	  	
});  
</script>