<script type="text/javascript">
	$(document).ready(function() {
	  $('.btn-primary').click (function() {
	    $("#spinner").show();
	  });
	  
	  $('.selectFieldAjax').change (function() {
	    $("#spinner").show();
	  });	  
	  
	  $('.nav-stacked a').click (function() {
	    $("#spinner").show();
	  });
	  
	  $('.selectField').change (function() {
	    $("#spinner").show();
	  });
	  
	  $('input.reset').click (function() {
	    $("#spinner").hide();
	  });	  
	});
</script> 
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">OCMS</a>
      <div class="nav-collapse">
      	
        <ul class="nav">
          <% if current_user %>
            <% if is_admin? %>
         	  	<li class="<%= @cemeteties_active %>"><%= link_to t("general.cemeteries"), cemeteries_path %></li>
         	  	<% if session[:cemetery_id] %>
         	  		<li class=""><%= link_to "( " + @cemetery.name + " )", "#" %></li>
         	  		<li class="<%= @users %>"><%= link_to t("general.users"), users_path %></li>
         	  		<li class="<%= @cemetery_active %>"><%= link_to t("general.manage_cemetery"), areas_path %></li>
       	  			<li class="<%= @maintenance_active %>"><%= link_to t("general.maintenance_companies"), maintenance_companies_path %></li>
       	  			<li class="<%= @booking_active %>"><%= link_to t("general.bookings"), bookings_path(:bookings => true) %></li>
       	  		<% end %>	         	  	
         	  <% else %>
         	  	<li class="<%= @dashboard_active %>"><%= link_to t("general.dashboard"), dashboard_path %></li>
       	  		<li class=""><%= link_to "( " + @cemetery.name + " )", "#" %></li>
       	  		<% if user_access? %>
       	  			<li class="<%= @users %>"><%= link_to t("general.users"), users_path %></li>
       	  		<% end %>		
       	  		<% if cemetery_access? %>
       	  			<li class="<%= @cemetery_active %>"><%= link_to t("general.manage_cemetery"), areas_path %></li>
       	  		<% end %>		
       	  		<% if maintenance_access? %>
       	  			<li class="<%= @maintenance_active %>"><%= link_to t("general.maintenance"), maintenance_companies_path %></li>
       	  		<% end %>	
       	  		<% if booking_access? %>	
       	  			<li class="<%= @booking_active %>"><%= link_to t("general.bookings"), bookings_path(:bookings => true) %></li>
       	  		<% end %>	
         	  <% end %>
          <% end %>
        </ul>
        
        <ul class="nav pull-right">
        	<% if current_user %>
        		<% if is_admin? %>
        			<li class="<%= @admin_active %>"><%= link_to t("general.admin_setup"), countries_path %></li>
	          <% end %>	       	
        	
						<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><Dropdown><%= current_user.username %> <b class="caret"></b></a>
          		<ul class="dropdown-menu">
          			<li><%= link_to t("general.edit_profile"), profile_path %></li>
          			<li><%= link_to t("general.change_password"), change_password_path %></li>
          			<% if is_admin? %>
          				<li class=""><%= link_to t("general.pages"), static_pages_path %></li>
          			<% end %>	
          			<li><%= link_to t("general.logout"), :logout %></li>
          		</ul>
          	</li>        	
          <% else %>
              <li><%= link_to t("general.login"), :login %></li>
          <% end %>        	
        </ul>	
        
      </div>
    </div>
  </div>
</div>

