<!DOCTYPE html>
<html>
<head>
  <title>OCMS</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%-
      current_controller_name = controller.controller_name
      current_action = controller.action_name
  %>    
  <% if current_controller_name == 'folders' %>
  	<script src="/js/jquery-1.4.4.min.js" data-turbolinks-track="true"></script>
  	<script src="/js/jquery.reveal.js" data-turbolinks-track="true"></script>
  <% end %>
</head>
<body>
	
  <%-

      
      cem_contollers_arr = %w(areas sections rows plots graves grantees cemeteries grantee_graves 
      												grantee_graves grave_histories letters letter_variables chapels rooms monuments catalogs categories folders document_shares)
      												
			booking_contollers_arr = %w(bookings facilities)
			
			user_contollers_arr = %w(users role_permissions)
      												
      maintenance_contollers_arr = %w(maintenances maintenance_companies permits work_types delegation_departments work_orders)      												
      
      admin_contollers_arr = %w(countries denominations diseases grave_statuses identities service_types unit_types coffins payment_statuses 
      													stone_mason_work_types languages)
      
      #unless cem_contollers_arr.include?(current_controller_name)
      	#session[:cemetery_id] = nil
      #end
  %>
  
  <%= render 'layouts/header' %>
  
	<div class="container">
	  <% if flash[:notice] %>
	    <div class="alert-success" id="notice"><%= flash[:notice] %></div>
	    <% flash[:notice] = nil %>
	  <% end %>				
	  <div class="row">
					
				<% if user_contollers_arr.include?(current_controller_name) and current_user %>
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
								<li class="<%= 'active' if current_controller_name == 'users' %>"><%= link_to t("general.users"), users_path %></li>
								<li class="<%= 'active' if current_controller_name == 'role_permissions' %>"><%= link_to t("general.permissions"), role_permissions_path %></li>	
						</ul>  
					</div>  
					<div class="span10">
						<%= yield %>
					</div>		  	
				
				<% elsif maintenance_contollers_arr.include?(current_controller_name) and current_user %>
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
							<li class="<%= 'active' if current_controller_name == 'maintenance_companies' %>"><%= link_to t("general.maintenance_companies"), maintenance_companies_path %></li>				
							<li class="<%= 'active' if current_controller_name == 'maintenances' %>"><%= link_to t("general.maintenances"), maintenances_path %></li>
							
							<li class="<%= 'active' if current_controller_name == 'delegation_departments' %>"><%= link_to t("general.delegation_departments"), delegation_departments_path %></li>				
							<li class="<%= 'active' if current_controller_name == 'work_types' %>"><%= link_to t("general.work_types"), work_types_path %></li>
							<li class="<%= 'active' if current_controller_name == 'work_orders' %>"><%= link_to t("general.work_orders"), work_orders_path %></li>
							
							<li class="<%= 'active' if current_controller_name == 'permits' %>"><%= link_to t("general.monument_permits"), permits_path %></li>
						</ul>  
					</div>  
					<div class="span10">
						<%= yield %>
					</div>
																					
				<% elsif admin_contollers_arr.include?(current_controller_name) and current_user %>	
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
							<li class="<%= 'active' if current_controller_name == 'countries' %>"><%= link_to t("general.countries"), countries_path %></li>
							<li class="<%= 'active' if current_controller_name == 'languages' %>"><%= link_to t("general.languages"), languages_path %></li>
							<li class="<%= 'active' if current_controller_name == 'denominations' %>"><%= link_to t("general.denominations"), denominations_path %></li>
							<li class="<%= 'active' if current_controller_name == 'diseases' %>"><%= link_to t("general.diseases"), diseases_path %></li>
							<li class="<%= 'active' if current_controller_name == 'grave_statuses' %>"><%= link_to t("general.grave_status"), grave_statuses_path %></li>
							<li class="<%= 'active' if current_controller_name == 'identities' %>"><%= link_to t("general.identities"), identities_path %></li>
							<li class="<%= 'active' if current_controller_name == 'service_types' %>"><%= link_to t("general.service_types"), service_types_path %></li>
							<li class="<%= 'active' if current_controller_name == 'unit_types' %>"><%= link_to t("general.unit_types"), unit_types_path %></li>
							<li class="<%= 'active' if current_controller_name == 'coffins' %>"><%= link_to t("general.coffins"), coffins_path %></li>
							<li class="<%= 'active' if current_controller_name == 'payment_statuses' %>"><%= link_to t("general.payment_status"), payment_statuses_path %></li>
							<li class="<%= 'active' if current_controller_name == 'stone_mason_work_types' %>"><%= link_to t("general.work_types"), stone_mason_work_types_path %></li>
						</ul>  
					</div>  
					<div class="span10">
						<%= yield %>
					</div>
					
	    	<% elsif session[:cemetery_id] and current_user and (cem_contollers_arr.include?(current_controller_name) or session[:interments]) %>
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
							<li class="<%= 'active' if current_controller_name == 'areas' %>"><%= link_to t("general.areas"), areas_path %></li>
							<li class="<%= 'active' if current_controller_name == 'sections' %>"><%= link_to t("general.sections"), sections_path %></li>
							<li class="<%= 'active' if current_controller_name == 'rows' %>"><%= link_to t("general.rows"), rows_path %></li>
							<li class="<%= 'active' if current_controller_name == 'plots' %>"><%= link_to t("general.plots"), plots_path %></li>
							<li class="<%= 'active' if current_controller_name == 'graves' or current_controller_name == 'grave_histories' %>"><%= link_to t("general.graves"), graves_path %></li>
							<li class="<%= 'active' if current_controller_name == 'grantees' %>"><%= link_to t("general.entities"), grantees_path(:grave_id => false) %></li>
							<li class="<%= 'active' if current_controller_name == 'grantee_graves' %>"><%= link_to t("general.purchase_grave"), new_grantee_grafe_path(:new_purchase => true) %></li>
							<li class="<%= 'active' if ((current_controller_name == 'bookings' and session[:interments]) or params[:interments]) %>"><%= link_to t("general.interments"), bookings_path(:interments => true) %></li>
							<li class="<%= 'active' if current_controller_name == 'chapels' %>"><%= link_to t("general.chapels"), chapels_path %></li>
							<li class="<%= 'active' if current_controller_name == 'rooms' %>"><%= link_to t("general.rooms"), rooms_path %></li>
							<li class="<%= 'active' if current_controller_name == 'monuments' %>"><%= link_to t("general.monuments"), monuments_path %></li>
							<li class="<%= 'active' if current_controller_name == 'categories' %>"><%= link_to t("general.categories"), categories_path %></li>
							<li class="<%= 'active' if current_controller_name == 'catalogs' %>"><%= link_to t("general.catalogs"), catalogs_path %></li>							
							<li class="<%= 'active' if (current_controller_name == 'letters' and session[:letters] == 'true')%>"><%= link_to t("general.letters"), letters_path(:letters => true) %></li>
							<li class="<%= 'active' if (current_controller_name == 'letters' and session[:letters] == 'false') %>"><%= link_to t("general.certificates"), letters_path(:letters => false) %></li>
							<li class="<%= 'active' if current_controller_name == 'letter_variables' %>"><%= link_to t("general.letter_variables"), letter_variables_path %></li>
							<li class="<%= 'active' if current_controller_name == 'folders' %>"><%= link_to t("general.documents"), folders_path(:type => "general") %></li>
						</ul>  
					</div>  
					<div class="span10">
						<%= yield %>
					</div>					
				<% elsif booking_contollers_arr.include?(current_controller_name) and current_user %>
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
								<li class="<%= 'active' if ((current_controller_name == 'bookings' and session[:bookings]) or params[:bookings]) %>"><%= link_to t("general.bookings"), bookings_path(:bookings => true) %></li>
								<li class="<%= 'active' if current_controller_name == 'facilities' %>"><%= link_to t("general.facilities"), facilities_path %></li>	
						</ul>  
					</div>  
					<div class="span10">
						<%= yield %>
					</div>										
				<% else %>	
					<div class="span12">
						<%= yield %>
					</div>				
				<% end %>
	  </div>
	  
	</div>  
	 
	 <footer class="footer" style="background-color:#c2c2c2">
		<div class="container">
			<%= render 'layouts/footer' %>
		</div>
	</footer>	
</body>
</html>
