<!DOCTYPE html>
<html>
<head>
  <title>Ocms</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	
  <%-
      current_controller_name = controller.controller_name
      current_action = controller.action_name
      
      cem_contollers_arr = %w(areas sections rows plots graves grantees chapels rooms cemeteries monuments catalogs bookings)
      
      admin_contollers_arr = %w(countries denominations diseases grave_statuses identities service_types unit_types coffins payment_statuses stone_mason_work_types)
      
      unless cem_contollers_arr.include?(current_controller_name)
      	session[:cemetery_id] = nil
      end
  %>
  
  <%= render 'layouts/header' %>
  
	<div class="container">
	  <% if flash[:notice] %>
	    <div class="alert-success" id="notice"><%= flash[:notice] %></div>
	    <% flash[:notice] = nil %>
	  <% end %>				
	  <div class="row">
	    <div class="span12">
	    	<% if session[:cemetery_id] and current_user %>
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
							<li class="<%= 'active' if current_controller_name == 'areas' %>"><%= link_to t("general.areas"), areas_path %></li>
							<li class="<%= 'active' if current_controller_name == 'sections' %>"><%= link_to t("general.sections"), sections_path %></li>
							<li class="<%= 'active' if current_controller_name == 'rows' %>"><%= link_to t("general.rows"), rows_path %></li>
							<li class="<%= 'active' if current_controller_name == 'plots' %>"><%= link_to t("general.plots"), plots_path %></li>
							<li class="<%= 'active' if current_controller_name == 'graves' %>"><%= link_to t("general.graves"), graves_path %></li>
							<li class="<%= 'active' if current_controller_name == 'grantees' %>"><%= link_to t("general.grantees"), grantees_path %></li>
							<li class="<%= 'active' if current_controller_name == 'chapels' %>"><%= link_to t("general.chapels"), chapels_path %></li>
							<li class="<%= 'active' if current_controller_name == 'rooms' %>"><%= link_to t("general.rooms"), rooms_path %></li>
							<li class="<%= 'active' if current_controller_name == 'monuments' %>"><%= link_to t("general.monuments"), monuments_path %></li>
							<li class="<%= 'active' if current_controller_name == 'catalogs' %>"><%= link_to t("general.catalogs"), catalogs_path %></li>
							<li class="<%= 'active' if current_controller_name == 'bookings' %>"><%= link_to t("general.bookings"), bookings_path %></li>
						</ul>  
					</div>  
					<div class="span9">
						<%= yield %>
					</div>
					
				<% elsif admin_contollers_arr.include?(current_controller_name) and current_user %>	
					<div class="span2">
						<ul class="nav nav-pills nav-stacked">
							<li class="<%= 'active' if current_controller_name == 'countries' %>"><%= link_to t("general.countries"), countries_path %></li>
							<li class="<%= 'active' if current_controller_name == 'denominations' %>"><%= link_to t("general.denominations"), denominations_path %></li>
							<li class="<%= 'active' if current_controller_name == 'diseases' %>"><%= link_to t("general.diseases"), diseases_path %></li>
							<li class="<%= 'active' if current_controller_name == 'grave_statuses' %>"><%= link_to t("general.grave_status"), grave_statuses_path %></li>
							<li class="<%= 'active' if current_controller_name == 'identities' %>"><%= link_to t("general.identities"), identities_path %></li>
							<li class="<%= 'active' if current_controller_name == 'service_types' %>"><%= link_to t("general.service_types"), service_types_path %></li>
							<li class="<%= 'active' if current_controller_name == 'unit_types' %>"><%= link_to t("general.unit_types"), unit_types_path %></li>
							<li class="<%= 'active' if current_controller_name == 'coffins' %>"><%= link_to t("general.coffins"), coffins_path %></li>
							<li class="<%= 'active' if current_controller_name == 'payment_statuses' %>"><%= link_to t("general.payment_status"), payment_statuses_path %></li>
							<li class="<%= 'active' if current_controller_name == 'stone_mason_work_types' %>"><%= link_to t("general.work_types"), stone_mason_work_types_path %></li>
						</ul>  
					</div>  
					<div class="span9">
						<%= yield %>
					</div>					
				<% else %>	
					<div class="span12">
						<%= yield %>
					</div>				
				<% end %>
	    </div>
	  </div>
	</div>  
</body>
</html>
