<!DOCTYPE html>
<html>
<head>
  <title>OCMS</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->  
  <!--<%= stylesheet_link_tag    "cemetery", media: "all", "data-turbolinks-track" => true %>-->
  <link type="text/css" href="/css/main.css" rel="stylesheet">
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="content">
		<h1><%= image_tag "logo.png" %></h1>
		
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li data-no-turbolink><%= link_to t("general.login"), :login %></li>
		</ul>
	
		<div class="post">
			<div class="details">
				<h2 style="text-align: center;"><a href="#">Online Cemetery Management System</a></h2>
			</div>
			<div class="body">
				<p>A free online library of cemetery records from number of cemeteries across the world, for historical and genealogy research.</p>
				<p>OCMS is a publisher of cemetery transcriptions for use by genealogists and local historians. Visitors use our online library to help them locate burials of their family and friends, trace their family history, and learn something about cemeteries in general.</p>
			</div>
			<div class="x"></div>
		</div>
		
		<%= yield %>
				
		<div id="footer">
			<p>
				<% if get_all_pages.size > 0 %>
				  <% for o_row in get_all_pages %>
				    <%= link_to o_row.name, "/other/#{o_row.page_route}" %> |
				  <% end %>
				<% end %>
				<%= t("general.copyright_all_rights_reserved_html") %>
			</p>
		</div>
		<div id="spinner" style="margin: 0px; left: 0px; display: none;" class="loaderimgText">
		  <%= image_tag "loader.gif" %><br><div class="backTransparant"></div>
		</div>			
	</div>
</body>
</html>
