<!DOCTYPE html>
<html>
<head>
  <title>OCMS</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->  
  <%#= stylesheet_link_tag    "cemetery", media: "all", "data-turbolinks-track" => true %>
  <link type="text/css" href="css/main.css" rel="stylesheet">
  <%#= javascript_include_tag "cemetery", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div id="content">
		<h1><%= image_tag "logo.png" %></h1>
		
		<ul id="menu">
			<li><a href="/">Home</a></li>
			<li><%= link_to t("general.login"), :login %></li>
		</ul>
	
		<div class="post">
			<div class="details">
				<h2 style="text-align: center;"><a href="#">Online Cemetery Management System</a></h2>
			</div>
			<div class="body">
				<%= yield %>
			</div>
			<div class="x"></div>
		</div>
		
		<div class="col">
			<h3><a href="#">Anglican&General Cemetery Trusts</a></h3>
			<p>Rookwood Cemetery (officially named Rookwood Necropolis) is the largest multicultural necropolis in the Southern Hemisphere, located in Sydney, New South Wales, Australia. Rookwood is also considered to be a suburb, close to Lidcombe railway station about 17 kilometres west of the Sydney central business district..</p>
			<p>&not; <a href="#">read more</a></p>
		</div>
		<div class="col">
			<h3><a href="#">Rookwood Independent</a></h3>
			<p>Rookwood Cemetery (officially named Rookwood Necropolis) is the largest multicultural necropolis in the Southern Hemisphere, located in Sydney, New South Wales, Australia. Rookwood is also considered to be a suburb, close to Lidcombe railway station about 17 kilometres west of the Sydney central business district..</p>
			<p>&not; <a href="#">read more</a></p>
		</div>
		<div class="col last">
			<h3><a href="#">Rookwood Independent</a></h3>
			<p>Rookwood Cemetery (officially named Rookwood Necropolis) is the largest multicultural necropolis in the Southern Hemisphere, located in Sydney, New South Wales, Australia. Rookwood is also considered to be a suburb, close to Lidcombe railway station about 17 kilometres west of the Sydney central business district..</p>
			<p>&not; <a href="#">read more</a></p>
		</div>
		
		<div id="footer">
			<p>
				<% if get_all_pages.size > 0 %>
				  <% for o_row in get_all_pages %>
				    <%= link_to o_row.name, "/other/#{o_row.page_route}" %> |
				  <% end %>
				<% end %>
				<%= t("general.copyright_all_rights_reserved_html") %>
			</p>
		</div>	
	</div>
</body>
</html>
